* {
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 250px 1fr 250px;
    grid-template-areas:
        "nav nav nav"
        "sidebar-left main-content sidebar-right"
        "footer footer footer";
    min-height: 100vh;
}

header {
    display: none;
    grid-area: header;
}

footer {
    grid-area: footer;
}

.navbar {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.main-content h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 1.2em;
}