* {
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 250px;
    grid-template-areas:
        "nav nav"
        "main-content sidebar-right"
        "footer footer";
    height: 100vh;
}

.navbar {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.main-content {
    padding: 20px;
    background-color: #f9f9f9;
}

.main-content h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 1.2em;
}